:root {
	--padding-size: 2em;
	width: calc(100% - var(--padding-size));
	height: calc(100% - var(--padding-size));
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Verdana;
	text-align: center;
	margin: auto;
	background-color: rgb(50, 50, 50);
	background-color: rgb(34, 34, 34);
	width: 100%;
	height: 100%;
}

a {
	color: #90dcf8;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

h1 {
	font-size: 5em;
}

.center-box {
	margin: auto;
	width: 100%;
	padding: var(--padding-size);
	background-color: rgb(50, 50, 50);
	border-radius: 3px;
}